In [66]:
import pandas as pd
import numpy as np

In [67]:
df = pd.read_csv("example/input/generation/case118_l2rpn_wcci/prods_charac.csv.old")

In [68]:
df

,name,Pmax,Pmin,type,bus,max_ramp_up,max_ramp_down,min_up_time,min_down_time,marginal_cost,shut_down_cost,start_cost,zone,generator,x,y,V
0,gen_3_0,33.6,0.0,wind,3,NaN,NaN,0.0,0.0,0.0,0,0.0,R1,0,62,-101,142.1
1,gen_3_1,33.6,0.0,wind,3,NaN,NaN,0.0,0.0,0.0,0,0.0,R1,70,62,-101,142.1
2,gen_7_2,400.0,0.0,nuclear,7,2.8,2.8,2016.0,2016.0,35.0,0,27728.7,R1,2,74,-293,355.4
3,gen_9_3,300.0,0.0,thermal,9,5.8,5.8,12.0,12.0,50.0,0,3392.3,R1,3,74,-390,355.4
4,gen_10_4,37.3,0.0,solar,10,NaN,NaN,0.0,0.0,0.0,0,0.0,R1,69,116,-104,142.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,gen_106_57,67.2,0.0,wind,106,NaN,NaN,0.0,0.0,0.0,0,0.0,R3,48,988,-582,142.1
58,gen_110_58,150.0,0.0,thermal,110,4.3,4.3,24.0,24.0,50.0,0,15319.4,R3,50,900,-707,142.1
59,gen_111_59,67.2,0.0,wind,111,NaN,NaN,0.0,0.0,0.0,0,0.0,R3,51,987,-699,142.1
60,gen_112_60,100.0,0.0,thermal,112,2.8,2.8,24.0,24.0,50.0,0,18016.4,R1,52,203,-276,142.1
61,gen_115_61,100.0,0.0,thermal,115,2.8,2.8,96.0,96.0,50.0,0,6281.1,R2,53,781,-362,355.4

In [69]:
def replace_energy_prod(to_replace, value):
  rows = df[df["type"] == value]
  pmax          = rows["Pmax"].iloc[0]
  max_ramp_up   = rows["max_ramp_up"].iloc[0]
  max_ramp_down = rows["max_ramp_down"].iloc[0]
  min_up_time   = rows["min_up_time"].iloc[0]
  min_down_time = rows["min_down_time"].iloc[0]
  marginal_cost = rows["marginal_cost"].iloc[0]
  start_cost    = rows["start_cost"].iloc[0]
  print(pmax, max_ramp_up, max_ramp_down, min_up_time, min_down_time, marginal_cost, start_cost)

  mask = (df["type"] == to_replace)
  count = 0
  for i in range(len(mask)):
    if mask[i]:
      mask[i] = False
      count += 1
    if count == 1:
      break

  df.at[mask, "type"] = value
  df.at[mask, "Pmax"] = pmax
  df.at[mask, "max_ramp_up"] = max_ramp_up
  df.at[mask, "max_ramp_down"] = max_ramp_down
  df.at[mask, "min_up_time"] = min_up_time
  df.at[mask, "min_down_time"] = min_down_time
  df.at[mask, "start_cost"] = start_cost
  df.at[mask, "marginal_cost"] = marginal_cost

In [70]:
replace_energy_prod("nuclear", "thermal")

300.0 5.8 5.8 12.0 12.0 50.0 3392.3

In [71]:
df

,name,Pmax,Pmin,type,bus,max_ramp_up,max_ramp_down,min_up_time,min_down_time,marginal_cost,shut_down_cost,start_cost,zone,generator,x,y,V
0,gen_3_0,33.6,0.0,wind,3,NaN,NaN,0.0,0.0,0.0,0,0.0,R1,0,62,-101,142.1
1,gen_3_1,33.6,0.0,wind,3,NaN,NaN,0.0,0.0,0.0,0,0.0,R1,70,62,-101,142.1
2,gen_7_2,400.0,0.0,nuclear,7,2.8,2.8,2016.0,2016.0,35.0,0,27728.7,R1,2,74,-293,355.4
3,gen_9_3,300.0,0.0,thermal,9,5.8,5.8,12.0,12.0,50.0,0,3392.3,R1,3,74,-390,355.4
4,gen_10_4,37.3,0.0,solar,10,NaN,NaN,0.0,0.0,0.0,0,0.0,R1,69,116,-104,142.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57,gen_106_57,67.2,0.0,wind,106,NaN,NaN,0.0,0.0,0.0,0,0.0,R3,48,988,-582,142.1
58,gen_110_58,150.0,0.0,thermal,110,4.3,4.3,24.0,24.0,50.0,0,15319.4,R3,50,900,-707,142.1
59,gen_111_59,67.2,0.0,wind,111,NaN,NaN,0.0,0.0,0.0,0,0.0,R3,51,987,-699,142.1
60,gen_112_60,100.0,0.0,thermal,112,2.8,2.8,24.0,24.0,50.0,0,18016.4,R1,52,203,-276,142.1
61,gen_115_61,100.0,0.0,thermal,115,2.8,2.8,96.0,96.0,50.0,0,6281.1,R2,53,781,-362,355.4

In [72]:
df.to_csv("example/input/generation/case118_l2rpn_wcci/prods_charac.csv", index=False)